
html,
body {
    width: 100%;
    height: 100%;
	padding: 0;
	margin: 0;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

header {
    position: relative;
    width: 100%;
	padding-top: 50px;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(img/capa.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    text-align: center;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

header .header-content .header-content-inner h1{
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #82ccdd;
}

#img-perfil{
	border: solid 2px #82ccdd;
	border-radius: 10px 10px 10px 10px;
}

#dados-pessoais{
    height: 100%;
    background: #ffffff;
    color: #2c3e50;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
}

#dados-pessoais p{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	color: #2c3e50;
}

#experiencias{
    text-align: left;
    margin-top: 10px;
    height: 100%;
    background: #ffffff;
    color: #2c3e50;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
}

#experiencias p{
    padding-left: 100px;
}

#experiencias li{
    margin-top: 5px;
}

#trab-atual{
    color: red;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}

.redes-sociais{
    text-align: left;
    margin: 15px auto;
    height: 100%;
    width: 50%;
    background: #dfe6e9;
    color: #2c3e50;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
}
.redes-sociais div{
    text-align: center;
    margin-bottom: 3px;
    font-weight: bold;
    color: #195598;
}

#img-facebook{
    display: flex;
    align-self: center;
    margin:auto;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

header::before {
    background: rgba(0, 0, 0, 0) url(img/bg-pixel-50.png) repeat scroll 0 0 !important;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}